<div class="row">
    <div class="col-md-12" ng-show="projects.length > 0">
        <table class="table table-striped table-bordered">
        	<thead>
        		<th>ID</th>
        		<th>Project Name</th>
        		<th>Project Description</th>
        		<th>Is Billable ?</th>
        		<th>Is Active ?</th>
        		<th>Action</th>
        	</thead>
        <tbody>
            <tr ng-repeat="project in projects">
                <td>{{project.pk}}</td>
                <td>{{project.title}}</td>
                <td>{{project.description}}</td>
                <td>{{project.is_billable}}</td>
                <td>{{project.is_active}}</td>
                <td>
                    <a href="#/edit-project/{{project.pk}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>Edit</a>
                    <button ng-controller="ProjectsCtrl" ng-click="deleteProject(project.pk)">Delete</button>

                </td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="projects.length == 0">
        <div class="col-md-12">
            <h4>No Products found</h4>
        </div>
    </div>
</div>